NavBar {
    border: 1px solid rgba(0, 45, 150, 255);
}
NavBarHeader {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(89, 135, 214, 255), stop:1 rgba(5, 57, 148, 255));
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding-left: 3px;
    border: 0px;
}
NavBarHeader QToolButton {
    border: none;
    background: none;
    color: #ffffff;
    font-family: "Arial";
    font-size: 14px;
}
NavBarHeader QToolButton:checked {
    border: none;
    background: none;
    color: #ffffff;
}
NavBarHeader QToolButton:hover {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 255, 220, 255), stop:1 rgba(247, 192, 91, 255));
    color: #000000;
}
NavBarHeader QToolButton:pressed {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(232, 127, 8, 255), stop:1 rgba(248, 219, 124, 255));
    color: #000000;
}
NavBarSplitter:handle {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(89, 135, 214, 255), stop:1 rgba(15, 67, 157, 255));
    background-image: url(:/styles/splitter2003blue.png);
    background-position: center;
    background-repeat: no-repeat;
}
NavBarSplitter:handle:vertical {
	height: 6px;
}
NavBarButton {
    border-top: 1px solid rgba(0, 45, 150, 255);
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(203, 225, 252, 255), stop:1 rgba(126, 166, 225, 255));
	font-weight: bold; 
}
NavBarButton:hover {
	background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 255, 220, 255), stop:1 rgba(247, 192, 91, 255));
}
NavBarButton:hover:checked {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(232, 127, 8, 255), stop:1 rgba(248, 219, 124, 255));
}
NavBarButton:checked {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(251, 230, 148, 255), stop:1 rgba(239, 150, 21, 255));
}
NavBarButton:pressed {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(232, 127, 8, 255), stop:1 rgba(248, 219, 124, 255));
}
NavBarToolBar {
    border-top: 1px solid rgba(0, 45, 150, 255);
	background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(203, 225, 252, 255), stop:1 rgba(126, 166, 225, 255));
}
NavBarToolBar QToolButton {
	background-color: none;
	border: 0px;
}
NavBarToolBar QToolButton:hover {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 255, 220, 255), stop:1 rgba(247, 192, 91, 255));
}
NavBarToolBar QToolButton:hover:checked {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(232, 127, 8, 255), stop:1 rgba(248, 219, 124, 255));
}
NavBarToolBar QToolButton:checked {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(251, 230, 148, 255), stop:1 rgba(239, 150, 21, 255));
}
NavBarToolBar QToolButton:pressed {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(232, 127, 8, 255), stop:1 rgba(248, 219, 124, 255));
}
NavBarToolBar QToolButton::menu-indicator {
    image: url(:/styles/downarrowblue.png);
    subcontrol-origin: content;
    subcontrol-position: center;
}
NavBarTitleButton {
    border-left  : 1px solid #ffffff;
    border-top   : 1px solid #ffffff;
    border-right : none;
    border-bottom: none;
    background-color: rgba(203, 225, 252, 255);
    color: rgba(21, 66, 139, 255);
    font-size: 14px;
    font-weight: bold;
}
NavBarTitleButton:hover {
    border: none;
    background-color: rgb(255, 231, 162);
}
NavBarTitleButton:pressed {
    border: none;
    background-color: rgb(251, 140, 60);
}
QFrame#navBarPopup {
    border: 1px solid rgba(0, 45, 150, 255);
    background-color: rgba(126, 166, 225, 255);
}
QFrame#navBarPopup QSizeGrip {
    background-image: url(:/styles/sizegrip2003blue.png);
    background-position: center;
    background-repeat: no-repeat;
}
NavBar QStackedWidget {
    background-color: #ffffff;
}
