NavBar {
    border: 1px solid rgba(167, 173, 182, 255);
}
NavBarHeader {
    background-color:QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(238, 239, 240, 255), stop:1 rgba(191, 195, 202, 255));
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid rgba(167, 173, 182, 255);
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding-left: 3px;
}
NavBarHeader QToolButton {
    border: none;
    background: none;
    color: #000000;
    font-family: "Arial";
    font-size: 14px;
}
NavBarHeader QToolButton:checked {
    border: none;
    background: none;
    color: #000000;
}
NavBarHeader QToolButton:hover {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 254, 228, 255), stop:0.4 rgba(255, 233, 168, 255), stop:0.42 rgba(255, 215, 103, 255), stop:1 rgba(255, 230, 159, 255));
    color: #000000;
}
NavBarHeader QToolButton:pressed {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 217, 170, 255), stop:0.4 rgba(255, 187, 110, 255), stop:0.42 rgba(255, 171, 63, 255), stop:1 rgba(254, 225, 122, 255));
    color: #000000;
}
NavBarSplitter:handle {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 255, 255, 255), stop:1 rgba(195, 200, 206, 255));
    background-image: url(:/styles/splitter2007black.png);
    background-position: center;
    background-repeat: no-repeat;
    border-top: 1px solid rgba(167, 173, 182, 255);
}
NavBarSplitter:handle:vertical {
	height: 6px;
}
NavBarButton {
	border-top: 1px solid rgba(167, 173, 182, 255);
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(248, 248, 249, 255), stop:0.4 rgba(223, 226, 228, 255), stop:0.42 rgba(199, 203, 209, 255), stop:1 rgba(219, 222, 226, 255));
	font-weight: bold; 
}
NavBarButton:hover {
	background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 254, 228, 255), stop:0.4 rgba(255, 233, 168, 255), stop:0.42 rgba(255, 215, 103, 255), stop:1 rgba(255, 230, 159, 255));
}
NavBarButton:hover:checked {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 189, 105, 255), stop:0.4 rgba(255, 173, 67, 255), stop:0.42 rgba(251, 140, 60, 255), stop:1 rgba(255, 211, 101, 255));
}
NavBarButton:checked {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 217, 170, 255), stop:0.4 rgba(255, 187, 110, 255), stop:0.42 rgba(255, 171, 63, 255), stop:1 rgba(254, 225, 122, 255));
}
NavBarButton:pressed {
	background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 217, 170, 255), stop:0.4 rgba(255, 187, 110, 255), stop:0.42 rgba(255, 171, 63, 255), stop:1 rgba(254, 225, 122, 255));
}
NavBarToolBar {
	border-top: 1px solid rgba(167, 173, 182, 255);
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(248, 248, 249, 255), stop:0.4 rgba(223, 226, 228, 255), stop:0.42 rgba(199, 203, 209, 255), stop:1 rgba(219, 222, 226, 255));
}
NavBarToolBar QToolButton {
	background-color: none;
	border: 0px;
}
NavBarToolBar QToolButton:hover {
	background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 254, 228, 255), stop:0.4 rgba(255, 233, 168, 255), stop:0.42 rgba(255, 215, 103, 255), stop:1 rgba(255, 230, 159, 255));
}
NavBarToolBar QToolButton:hover:checked {
	background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 189, 105, 255), stop:0.4 rgba(255, 173, 67, 255), stop:0.42 rgba(251, 140, 60, 255), stop:1 rgba(255, 211, 101, 255));
}
NavBarToolBar QToolButton:checked {
	background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 217, 170, 255), stop:0.4 rgba(255, 187, 110, 255), stop:0.42 rgba(255, 171, 63, 255), stop:1 rgba(254, 225, 122, 255));
}
NavBarToolBar QToolButton:pressed {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 217, 170, 255), stop:0.4 rgba(255, 187, 110, 255), stop:0.42 rgba(255, 171, 63, 255), stop:1 rgba(254, 225, 122, 255));
}
NavBarToolBar QToolButton::menu-indicator {
    image: url(:/styles/downarrowblue.png);
    subcontrol-origin: content;
    subcontrol-position: center;
}
NavBarTitleButton {
    border-left  : 1px solid #ffffff;
    border-top   : 1px solid #ffffff;
    border-right : none;
    border-bottom: none;
    background-color: rgb(235, 235, 235);
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
NavBarTitleButton:hover {
    border: none;
    background-color: rgb(255, 231, 162);
}
NavBarTitleButton:pressed {
    border: none;
    background-color: rgb(251, 140, 60);
}
QFrame#navBarPopup {
    border: 1px solid rgba(167, 173, 182, 255);
    background-color: rgba(199, 203, 209, 255);
}
QFrame#navBarPopup QSizeGrip {
    background-image: url(:/styles/sizegrip2007black.png);
    background-position: center;
    background-repeat: no-repeat;
}
NavBar QStackedWidget {
    background-color: #ffffff;
}
